@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #250922;
    height: 12vh;
    border-bottom: 20px solid #171717;
}

.left-nav {
    width: 20vw;
    border-right: 20px solid #171717;
}

.right-nav {
    width: 50vw;
}

.right-nav h1 {
    word-spacing: 20px;
}

nav h1 {
    font-size: 9vh;
    color: #ff008cb6;
}

hero img {
    height: 60vh;
    width: 100%;
    border-bottom: 20px solid #171717;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #250922;
    border: 25px solid #171717;
    color: #C1036E;
    height: 25vh;
}

footer h1 {
    width: 200px;
    /* border-right: 20px solid #171717; */
}

.extra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra img {
    height: 100%;
    width: 100%;
}